.grid {
  border: 1px solid;
  height: 270px;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 30px;
  width: 30px;
}

.ending-block {
  background-color: red;
}

.starting-block {
  background-color: blue;
}

button {
  margin-bottom: 20px;
}

.l1,
.l2,
.l3 {
  background-color: brown;
}

.l4,
.l5 {
  background-color: lightblue;
}

.c1 {
  background-color: black;
}

.c2,
.c3 {
    background-color: grey;
}

.frog {
    background-color: green;
  }
  